body{
    background:linear-gradient(0deg,rgba(9, 31, 34, 0.3),rgba(53, 42, 42, 0.3)),url('../back2.jpg');
    background-repeat:  no-repeat;
    background-attachment: fixed;
    background-size:auto;
	height:100%;
}

.rounded{
    margin-top:200px!important;
    border-radius:5px!important;
    padding:20px!important;
    /* opacity:0!important; */
}

.roundedlw{
    margin-top:-100px!important;
    border-radius:5px!important;
    padding:20px!important;
    /* opacity:0!important; */
}

.welcome_page_div{
    width:55%;
    margin:100px auto;
    text-align:center;
}

.login_main_div{
    width:66%;
    margin:100px auto;
    text-align:center;
}

.heading_t{
    text-align: center!important; 
    margin-bottom: -85px !important;
    margin-top: -30px !important;
    color: orangered !important;
    /* background: url("../bgh.jpg") !important; */
    background-color:rgba(255, 255, 255,0.31)!important;
    padding: 4px -10px !important;
}


.welcome_heading{
    font-size:40px!important;
    text-decoration: underline!important;
}

.welcome_main_heading{
    font-size:75px!important;
    font-weight:bold!important;
    margin-top: 1%;
}

.login_btn{
    color:white!important;
    background-color: black!important;
    padding:10px 30px!important;
    margin:20px 5px 25px 5px!important;
    width:150px!important;
}

.signup_btn{
    color:white!important;
    background-color:blue!important;
    padding:10px 30px!important;
    margin:20px 5px 25px 5px!important;
    width:150px!important;
}

.width_less{
    width:80%!important;
    margin:0 auto!important;
}

.rounded{
    margin-top:50px!important;
    border-radius:5px!important;
    padding:20px!important;
    opacity:0.9!important;
}
.signup_main_div{
    width:70%;
    margin:120px auto;
    text-align:center;
}
.accidents_heading{
    font-size:26px!important;
    font-weight:bold!important;
} 

.heading_t2{
    text-align: center!important; 
    margin-bottom: -25px !important;
    margin-top: -50px !important;
    color: orangered !important;
    /* background: url("../bgh.jpg") !important; */
    background-color:rgba(255, 255, 255,0.31)!important;
    padding: 4px -10px !important;
}

.yat_logo{
    font-size:26px!important;
    font-weight:bold!important;
    color:white!important;
    margin:10px 20px!important;
}

.appbar{
    border-bottom:5px solid black!important;
    background-color:rgb(0, 140, 255)!important;
}
.logout_btn{
    font-size:20px!important;
    float:right!important;
    cursor:pointer!important;
    color:white!important;
    margin:15px 20px!important;
}

.center{
    text-align:center!important;
}

.accidents_heading{
    font-size:26px!important;
    font-weight:bold!important;
}   
.width_less{
    width:30%!important;
    margin:0 auto!important;
}

.width_little_less{
    width:60%!important;
    margin:100px auto!important;
}

.yat_logo,.logout_btn{
    display:inline-block!important;
}

.m_top{
    margin-top: 8%!important;
}

.backc{
    background-color: rgba(255, 255, 255,0.31)
}

.swap{
    align-content: center;
    margin:-22px 203px -8px 203px!important; 
    border: 2px solid;
    border-radius:80px; 
    padding-top: 4px  
}

.daily_show_btn{
    height:50px!important;
    width:200px!important;
}

.bold{
    font-weight:bold!important;
}


.m_left{
    margin-left:10px!important;
}

.upper{
    margin-top: 5px !important;
    margin-bottom: -5px !important;
}

.roundedw{
    margin-top:200px!important;
    border-radius:5px!important;
    padding:20px!important;
}

.roundedlg{
    margin-top:200px!important;
    border-radius:5px!important;
    padding:20px!important;
    width: 30%
}

.roundedsu{
    margin-top:70px!important;
    border-radius:5px!important;
    padding:20px!important;
}